---
---

@import "{{ site.theme }}";

$content-width: 100%;
.page-header, .main-content {
    max-width: -webkit-calc(#{$content-width});
    max-width: calc(#{$content-width});
}

.main-content img {
    text-align: center;
}